# 3 - Data Prep

<b>Import</b>

In [1]:
import time
import boto3
import pandas as pd
import json
import ast
from io import StringIO

<b>Declarations</b>

In [6]:
bucket_name = 'flight-route-mining'

<b>S3 Client</b>

In [4]:
s3_client = boto3.client('s3')

<b>File Listing</b>

In [7]:
json_list = [i['Key'] for i in s3_client.list_objects(Bucket=bucket_name)['Contents']]

<b>Helper Functions</b>

In [9]:
def s3_file_location(f_bucket, f_file):
    """
    Simply returns a formatted string with the S3 file location
    """
    data_location = 's3://{}/{}'.format(f_bucket,f_file)
    return data_location

def json_file_to_dict(f_bucket, f_json_file):
    """
    Intakes bucket and json file.
    Returns dictionary.
    """
    try:
        json_s3_obj = s3_client.get_object( Bucket= f_bucket, Key = f_json_file )
        tmp_str_json = json_s3_obj['Body'].read().decode('utf-8')
        fnl_json = ast.literal_eval(tmp_str_json)
        return fnl_json
    except:
        pass 
        print('Fail importing json file/')

<b>Processing</b>

In [19]:
json_list

['FlightRouteMining_AA.json',
 'FlightRouteMining_Airlines.json',
 'FlightRouteMining_Airports.json',
 'FlightRouteMining_DL.json',
 'FlightRouteMining_WN.json']

In [20]:
aa_json = json_file_to_dict(bucket_name, json_list[0])

In [25]:
type(aa_json[0])

dict

In [24]:
aa_json[1]

{'airlineIata': 'AA',
 'airlineIcao': 'AAL',
 'arrivalIata': 'JFK',
 'arrivalIcao': 'KJFK',
 'arrivalTerminal': '8',
 'arrivalTime': '05:53:00',
 'codeshares': [{'airline_code': 'AS', 'flight_number': '1749'},
  {'airline_code': 'BA', 'flight_number': '4314'},
  {'airline_code': 'EY', 'flight_number': '3002'},
  {'airline_code': 'HU', 'flight_number': '8902'},
  {'airline_code': 'QF', 'flight_number': '3089'},
  {'airline_code': 'TN', 'flight_number': '1108'}],
 'departureIata': 'LAX',
 'departureIcao': 'KLAX',
 'departureTerminal': '4',
 'departureTime': '21:15:00',
 'flightNumber': '10',
 'regNumber': ['N101NN',
  'N102NN',
  'N103NN',
  'N104NN',
  'N105NN',
  'N106NN',
  'N107NN',
  'N108NN',
  'N109NN',
  'N110AN',
  'N111ZM',
  'N112AN',
  'N113AN',
  'N114NN',
  'N115NN',
  'N116AN',
  'N117AN']}

In [30]:
test = list(aa_json[0].items())

In [31]:
test

[('airlineIata', 'AA'),
 ('airlineIcao', 'AAL'),
 ('arrivalIata', 'JFK'),
 ('arrivalIcao', 'KJFK'),
 ('arrivalTerminal', '8'),
 ('arrivalTime', '07:11:00'),
 ('codeshares',
  [{'airline_code': 'AS', 'flight_number': '1568'},
   {'airline_code': 'BA', 'flight_number': '2497'},
   {'airline_code': 'CX', 'flight_number': '7723'},
   {'airline_code': 'EY', 'flight_number': '3070'},
   {'airline_code': 'JL', 'flight_number': '7453'},
   {'airline_code': 'MH', 'flight_number': '9472'},
   {'airline_code': 'QF', 'flight_number': '4646'}]),
 ('departureIata', 'BOS'),
 ('departureIcao', 'KBOS'),
 ('departureTerminal', 'B'),
 ('departureTime', '06:00:00'),
 ('flightNumber', '1'),
 ('regNumber', ['N151UW'])]

In [32]:
test2 = pd.DataFrame(test)

In [33]:
test2

                    0                                                  1
0         airlineIata                                                 AA
1         airlineIcao                                                AAL
2         arrivalIata                                                JFK
3         arrivalIcao                                               KJFK
4     arrivalTerminal                                                  8
5         arrivalTime                                           07:11:00
6          codeshares  [{'airline_code': 'AS', 'flight_number': '1568...
7       departureIata                                                BOS
8       departureIcao                                               KBOS
9   departureTerminal                                                  B
10      departureTime                                           06:00:00
11       flightNumber                                                  1
12          regNumber                                           [N151UW]

In [36]:
test3 = list(aa_json[0].values())

In [40]:
test4 = pd.DataFrame([test3])

In [41]:
test4

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,AA,AAL,JFK,KJFK,8,07:11:00,"[{'airline_code': 'AS', 'flight_number': '1568...",BOS,KBOS,B,06:00:00,1,[N151UW]

In [47]:
flight_list = []
for item in aa_json:
    flight_list.append(list(item.values()))

In [48]:
aa_flight_df = pd.DataFrame( flight_list )

In [49]:
aa_flight_df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,AA,AAL,JFK,KJFK,8,07:11:00,"[{'airline_code': 'AS', 'flight_number': '1568...",BOS,KBOS,B,06:00:00,1,[N151UW]
1,AA,AAL,JFK,KJFK,8,05:53:00,"[{'airline_code': 'AS', 'flight_number': '1749...",LAX,KLAX,4,21:15:00,10,"[N101NN, N102NN, N103NN, N104NN, N105NN, N106N..."
2,AA,AAL,LHR,EGLL,3,06:20:00,"[{'airline_code': 'AY', 'flight_number': '4012...",JFK,KJFK,8,18:15:00,100,"[N756AM, N759AN, N760AN, N773AN, N788AN, N717A..."
3,AA,AAL,TPA,KTPA,None,15:41:00,"[{'airline_code': 'AS', 'flight_number': '1179...",DFW,KDFW,C,12:15:00,1000,[N555AN]
4,AA,AAL,CUN,MMUN,3,13:52:00,"[{'airline_code': 'JL', 'flight_number': '7278'}]",DFW,KDFW,D,11:10:00,1001,"[N127AA, N134AN, N135NN, N138AN, N141NN, N144A..."

In [51]:
aa_json[0]

{'airlineIata': 'AA',
 'airlineIcao': 'AAL',
 'arrivalIata': 'JFK',
 'arrivalIcao': 'KJFK',
 'arrivalTerminal': '8',
 'arrivalTime': '07:11:00',
 'codeshares': [{'airline_code': 'AS', 'flight_number': '1568'},
  {'airline_code': 'BA', 'flight_number': '2497'},
  {'airline_code': 'CX', 'flight_number': '7723'},
  {'airline_code': 'EY', 'flight_number': '3070'},
  {'airline_code': 'JL', 'flight_number': '7453'},
  {'airline_code': 'MH', 'flight_number': '9472'},
  {'airline_code': 'QF', 'flight_number': '4646'}],
 'departureIata': 'BOS',
 'departureIcao': 'KBOS',
 'departureTerminal': 'B',
 'departureTime': '06:00:00',
 'flightNumber': '1',
 'regNumber': ['N151UW']}

In [52]:
def dataframe_to_csv(f_dataframe, f_bucket, f_filename):
    """ Write a dataframe to a CSV on S3 """
    # Create buffer
    csv_buffer = StringIO()
    # Write dataframe to buffer
    f_dataframe.to_csv(csv_buffer, index=False)
    # Create S3 object
    s3_resource = boto3.resource("s3")
    #format s3 location
    s3_location = 's3://{}'.format(f_bucket)
    # Write buffer to S3 object
    s3_resource.Object(f_bucket, f_filename).put(Body=csv_buffer.getvalue())

In [53]:
dataframe_to_csv(aa_flight_df, bucket_name, 'AA_Flights_20201023.csv')